body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #e9f1ff;
  margin: 0;
  padding: 0;
}

header {
  background: #0d6efd;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button, button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

nav button:hover, button:hover {
  background: #0b5ed7;
  transform: scale(1.05);
}

.login-container, .form-container {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

table {
  width: 95%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background: #0d6efd;
  color: white;
}
